text/chapters/06_Diseno.tex
text/chapters/07_Pruebas.tex
text/chapters/08_Difusion.tex
text/chapters/09_Conclusiones.tex
text/chapters/devel_manual.tex
text/chapters/.DS_Store
text/chapters/user_manual.tex
text/chapters/words.dic

